body {
    color: #776e65;
    font-family: sans-serif;
    font-size: 18px;
    --cell-size: 107px;
    --min-size: 50px;
    --max-size: 150px;
}

main {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

table {
    width: 500px;
    height: 500px;
    border: 15px solid rgb(187, 173, 160);
    border-collapse: collapse;
}

caption {
    font-size: 58px;
    font-weight: bold;
    text-align: left;
}

td {
    border: 15px solid rgb(187, 173, 160);
    width: clamp(var(--min-size), var(--cell-size), var(--max-size));
    height: clamp(var(--min-size), var(--cell-size), var(--max-size));
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    background-color: rgba(187, 173, 160, 0.8);
}

.show {
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
}

.pop {
    animation: pop 200ms ease 100ms;
    animation-fill-mode: backwards;
}

td div {
    position: relative;
    height: 100%;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

p {
    text-align: center;
}

.scores-container {
    display: flex;
    float: right;
    position: absolute;
    top: 1em;
    right: 0;
}

.scores-container .score:last-child {
    margin-left: 5px;
}

.score {
    color: #eee1c9;
    background-color: #bbada0;
    width: 75px;
    text-align: center;
    height: 65px;
    border-radius: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    padding: 5px;
}

.score div {
    margin-top: 2px;
    font-size: x-large;
    font-weight: bold;
    color: white;
}